{% extends "base.html" %}
{% block content %}
  <div class="w3-container w3-card-4 w3-white w3-margin w3-padding w3-round-large">
    <h1>Image Recognition Demo</h1>
    <form action="/demo" method="post" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      {{ form.image }}<br />
      {{ form.file }}
      <input type="submit">
    </form>
  </div>
{% endblock %}