{% extends "base.html" %}
{% block content %}
  <div class="w3-container w3-card-4 w3-white w3-margin w3-padding w3-round-large">
    <h1>Image Recognition Demo Result</h1>
    <h2>{{ result*100 }}%</h2>
  </div>
{% endblock %}